<div class = "container-fluid">
  <div class = "row">

      <!--MAP COLUMN-->
      <div class = "col-lg-6">
        <div id="map"></div>
      </div>


      <!--ITINERARY COLUMN-->
      <div class = "col-lg-6">
        <div class="panel panel-default">
          <div class = "panel-body">  
            <h3 class = "page-header"> Itinerary </h3>
        		<div class="list-group">
    				  <div class="list-group-item"> Cras justo odio</div>
    				  <div class="list-group-item">Dapibus ac facilisis in</div>
    				  <div class="list-group-item">Morbi leo risus</div>
    				  <div class="list-group-item">Porta ac consectetur ac</div>
    				  <div class="list-group-item">Vestibulum at eros</div>
			      </div>
         	</div>
        </div>
      </div>
    </div>
  </div>
</div>