<div class = "container-fluid">
  <div class = "row">

      <!--MAP COLUMN-->
      <div class = "col-lg-6">
        <div id="map"></div>
      </div>


      <!--ITINERARY COLUMN-->
      <div class = "col-lg-6">
        <div class="panel panel-default">
          <div class = "panel-body">  
            <h3 class = "page-header"> Itinerary </h3>
        		<div class="list-group">

        			  <div class="list-group-item list-group-item-info"> 
    				  	<b>Origin</b>
    				  	<span class="glyphicon glyphicon-map-marker pull-right" aria-hidden="true"></span>
    				  </div>

    				<br/>

    				  <a href="#" class="list-group-item"> 
    				  	Cras justo odio
    				  	<span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
    				  </a>
    				  <a href="#" class="list-group-item">
    				  	Dapibus ac facilisis in
    				  	<span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
    				  </a>
    				  <a href="#" class="list-group-item">
    				  	Morbi leo risus
    				  	<span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
    				  </a>
    				  <a href="#" class="list-group-item">
    				  	Porta ac consectetur ac
    				  	<span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
    				  </a>
    				  <a href="#" class="list-group-item">
    				  	Vestibulum at eros
    				  	 <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
    				  </a>

    				  <br/>

    				  <div class="list-group-item list-group-item-info"> 
    				  	<b>Destination</b>
    				  	<span class="glyphicon glyphicon-map-marker pull-right" aria-hidden="true"></span>
    				  </div>
			      </div>
         	</div>
        </div>
      </div>
   </div>
   <div class = "row">
      <div class = "col-md-12">
        <div style="width: 640px; height: 480px" id="mapContainer2"></div>
      </div>
    </div>
  </div>
</div>