<div class = "container-fluid">
  <div class = "row">
      <div class = "col-md-12">
        <div style="width: 640px; height: 480px" id="mapContainer"></div>
      </div>
   </div>
   <div class = "row">
      <div class = "col-md-12">
        <div style="width: 640px; height: 480px" id="mapContainer2"></div>
      </div>
    </div>
  </div>
</div>