<div class = "container-fluid">
  <div class = "row">

      <!--MAP COLUMN-->
      <div class = "col-lg-6">
        <div style="width: 640px; height: 480px" id="map" background= "grey"></div>
      </div>


      <!--ITINERARY COLUMN-->
      <div class = "col-lg-6">
        
      </div>
    </div>
  </div>
</div>