<!DOCTYPE html>
<html>

<head>
  <title>Routinerary</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" type="text/css"
    href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
  <script type="text/javascript" charset="UTF-8"
    src="http://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" charset="UTF-8"  
    src="http://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" charset="UTF-8"
    src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script type="text/javascript"  charset="UTF-8"
    src="http://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Routinerary</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	      </ul>
	    </div>
	    <div>
			<form class="navbar-form navbar-right" role="search">
			  <div class="form-group">
          <input type="text" class="form-control" placeholder="Origin" id = "origin">
          <input type="text" class="form-control" placeholder="Destination" id = "destination">
			  </div>
			  <div type="submit" class="btn btn-default" id = "destination_button">Discover</div>
			</form>
	    </dib>
	  </div>
	</nav>
<!---->

<div class = "container-fluid">
  <div class = "row">

<style type="text/css">
    #intro { 

      background: url(assets/windmill4.jpeg) 50% 0 fixed; 
      height: auto;  
      margin: 0 auto; 
        width: 100%; 
        position: relative; 
        padding: 265px 0;
    }
    #home { 
      background: url(assets/windmill4.jpeg) 50% 0 fixed; 
      height: auto;  
      margin: 0 auto; 
        width: 100%; 
        position: relative; 
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        padding: 50px 0;
    }
    
    .hero-unit {
      background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    .media-object { width: 64px; height: 64px; padding-bottom: 30px }

    .container{
      text-align: center;
      font-family: Helvetica;
    }
    .name{
      font-size: 60px;
    }
    .description{
      font-size: 20px;
    }

  </style>



<section id="intro" data-speed="6" data-type="background">

  <div class="container">

        
          <h2 class="name">Routinerary</h2>
          <p class="description">Discover the best tourist spots in the country along with your travel buddy.</p>
        
      </div>

</section>



<section id="home" data-speed="4" data-type="background">
  <div class = "container-fluid">
    <div class = "row">

        <!--MAP COLUMN-->
        <div class = "col-lg-6">
          <div id="map"></div>
        </div>


        <!--ITINERARY COLUMN-->
        <div class = "col-lg-6">
          <div class="panel panel-default">
            <div class = "panel-body">  
              <h3 class = "page-header"> Itinerary </h3>
              <div class="list-group">

                  <div class="list-group-item list-group-item-info" id = "origin_item"> 
                  <b>Origin: <%= params[:destination_button]%></b>
                  <span class="glyphicon glyphicon-map-marker pull-right" aria-hidden="true"></span>
                </div>

              <br/>

                <a href="#" class="list-group-item"> 
                  Cras justo odio
                  <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
                </a>
                <a href="#" class="list-group-item">
                  Dapibus ac facilisis in
                  <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
                </a>
                <a href="#" class="list-group-item">
                  Morbi leo risus
                  <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
                </a>
                <a href="#" class="list-group-item">
                  Porta ac consectetur ac
                  <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
                </a>
                <a href="#" class="list-group-item">
                  Vestibulum at eros
                   <span class="glyphicon glyphicon-globe pull-right" aria-hidden="true"></span>
                </a>

                <br/>

                <div class="list-group-item list-group-item-info" id = "destination_item"> 
                  <b>Destination</b>
                  <span class="glyphicon glyphicon-map-marker pull-right" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</section>


<!---->
  <footer class = "footer">
    <p class = "text-muted">Search. Travel. Discover.</p>
  </footer>
</body>
</html>
